[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
psycopg2 = "*"
Flask = "*"
Flask-JWT-Extended = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
